# lock files
*/*.lock

#Cache
__pycache__
cache
.cache
temp
.temp
.pytest_cache

# Venv e Editors
.venv
.vscode
venv
.env
.python-version
app/.buildozer/*
app/.buildozer/adroid/*
app/.buildozer/adroid/platform